node_modules
.DS_Store
.idea
*.log
*.swp
*.tgz
*.zip
*~

lib
dist
coverage

.eslintcache
.clinerules
.claude

design/.*
packages/docs/src/.vitepress/dist
packages/docs/src/.vitepress/cache
packages/docs/src/api/context
packages/docs/src/api/default
packages/docs/src/api/definition
packages/docs/src/api/generator
packages/docs/src/api/plugin
packages/docs/src/api/renderer
packages/docs/src/api/index.md
packages/docs/src/api/typedoc-sidebar.json
generated-docs
playground/advanced/docs-gen/**/*.md
importmap.json

.todo.md
